body {
  background-image: url(../images/backgroundimagblackbox.jpg);
  background-size: cover;
  cursor: pointer;
 font-family: 'Poppins', sans-serif;

}

.navBar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 6px;
  gap: 30px;
}

.navbaricons {
  shape-outside: round;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  color: white;
}
.navbaricons a {
  color: white;
}
.navbaricons:hover {
  background-color: rgb(117, 4, 93);
}
.navBar > :nth-child(1) {
  margin-right: auto;
}
a {
  text-decoration: none;
}
img {
  width: 100vh;
  height: 100vh;

}
.moto {
  font-size: 51px;
  font-weight: bold;
  width: 600px;
  transition: all 1s;
  color: white;
  margin-top: 110px;
  border-bottom: 2px solid white;
}

h1,
moto:hover {
  transform: scale(0.9);
}
#intro {
  color: white;
  font-size: 11px;
  text-align: left;
  width: 657px;
}
.unidefinition {
  color: rgb(117, 4, 93);
}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
  margin-left: 32vw;
  margin-top: 30px;
  top: 20%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1px;
  color: white;
  font-weight: bold;
  font-size: 27px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 1vh;
  border-radius: 3px 0 0 3px;
 
}

.next {
  left: 60vh;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgb(117, 4, 93);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


.illustrations {
  width: 420px;
  height: 420px;
}


.footericons {
  shape-outside: round;
  font-size: 20px;
  padding: 6px;
  color: white;
}
.footericons:hover {
  background-color: rgb(117, 4, 93);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 6px;
  gap: 20px;
  /* color: white; */
}
.footericons i {
  color: white;
}

.imageicons {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -680px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }